<div class="">
  <ul class="nav nav-tabs nav-justified">
    <li role="presentation"><%=	link_to 'Restaurants', admin_restaurants_path %></li>
    <li role="presentation"><%=	link_to 'Dishes', admin_dishes_path %></li>
  </ul>
</div>