<div>
  <%= render 'layouts/admin/header' %>
  <h1>Edit restaurants></h1>
</div>

<div>
  <%= render 'layouts/admin/form_restaurant' %>
</div>

<div class="col-md-9">
  <%= link_to 'Back', admin_restaurants_path  %>
</div>