<div>
  <%= render 'layouts/admin/header' %>
  <h1 class="text-center">Added restaurants</h1>
</div>

<div>
  <%= render 'layouts/admin/form_restaurant' %>
</div>

<div class="col-md-9">
  <%= link_to 'Назад', admin_restaurants_path  %>
</div>