<div class="row">
  <div class="thumbnail">
    <%=	image_tag "/restaurants/#{@restaurant.image_name}", alt:@restaurant.name%>
    <div class="caption">
      <h4><%= @restaurant.name %> </h4>
      <p><%= @restaurant.review %></p>
    </div>
  </div>
</div>