<div>
  <%= render 'layouts/admin/header' %>
  <h1>Создание Блюда></h1>
</div>

<div>
  <%= render 'layouts/admin/form_dish' %>
</div>

<div class="col-md-9">
  <%= link_to 'Назад', admin_dishes_path  %>
</div>